
@import 'tabs';
@import 'reset';
@import 'img';
@import 'buttons';
@media (max-width: 768px) {
  .tabs {
    width: 80%;
    text-align: center;
  }
 
  body {
    font-size: 20px;
  }

  img {
    min-height: 50px;
    min-width: 80%;
  }
  .tabs label {
    min-width: 50%;
    margin-left: 50px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px; 
  }
 
  button, button::after {
    width: 100px;
    height: 25px;
    font-size: 9px;
    box-shadow: 3px 0px 0px darkblue;
  }
}
