
.tabs {
  font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 30px;
  }
   
  .tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 20px;
    box-shadow: -10px 10px 0px 0px red;
  }